@import 'partials/vars';
@import 'partials/nav';
@import 'partials/landing';
@import 'partials/projects';
@import 'partials/journal';
@import 'partials/about';
@import 'partials/footer';
@import 'partials/cursor';



* {
    margin: .5rem;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $colorBackground;
    color: $colorTextDark;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}