.aboutContent{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding: 0;
    .contentLeft{
        width: 50%;
    }
    .contentRight{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10rem;
        .aboutInfo{
            .etiquetas{
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }
            .socialmedia{
                a{
                    color: $colorPrimary;
                    text-decoration: none;
                }
            }
        }
    }
}



@media (max-width: 480px){
    .aboutContent{
        flex-direction: column;
        .contentLeft{
            width: 100%;
        }
        .contentRight{
            width: 100%;
            gap: 0;
            .aboutInfo{
                padding: 0;
                margin: 0;
                .etiquetas{
                    display: none;
                }
                .socialmedia{

                }
            }
        }
    }
}


.about .cv{
   display: grid;
   grid-template-columns: 1fr 1fr;
   h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: #0A0AED;
   }
   p{
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    margin-top: .25rem;
   }
   .cvDet{
    font-size: .85rem;
    font-weight: 400;
    margin-bottom: 1rem;
   }
}
@media (max-width: 480px){
    .about .cv{
        display: flex;
        flex-direction: column;
    
    }
}